@model IEnumerable<PracticaAlberto.Producto>

@{
    ViewBag.Title = "Tu pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tu pedido:</h2>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Acciones
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Cantidad == 0)
                    {
                        <span class="label label-danger positionAbsolute">AGOTADO</span>
                    }
                    else if (item.Cantidad >= 1 && item.Cantidad <= 10)
                    {
                        <span class="label label-warning positionAbsolute">ÚLTIMAS UNIDADES</span>
                    }
                    else
                    {
                        //vacia aposta
                    }
                    @if (item.Cantidad == 0)
                    {
                        <img class="img-circle imgProductoAgotado" widht="100" height="100" src="@(item.Imagen)">
                    }
                    else if (item.Cantidad >= 1 && item.Cantidad <= 10)
                    {
                        <img class="img-circle imgProductoStockBajo" widht="100" height="100" src="@(item.Imagen)">
                    }
                    else
                    {
                        <img class="img-circle imgNormal" widht="100" height="100" src="@(item.Imagen)">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetailsUsers", "Productos", new { id = item.Id }, new { @class = "btn botonAzul" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)€
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>(Vacio)</h4>
}

@if (Model.Count() > 0)
{
    <hr class="separador" />
    <h4 style="text-align: right"><span style="margin-right: 20px;">Importe Total: </span><span><strong>@ViewData["importeTotal"]€</strong></span></h4>
}
