@model Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)€
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            <img widht="100" height="100" src="@(Model.Imagen)">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", "Productos", null, new { @class = "btn botonMorado" })
    @Html.ActionLink("Editar", "Edit", "Productos", new { id = Model.Id }, new { @class = "btn botonAmarillo" })
</p>
